body {
	background-image: url(index.gif)
}

#sitename {
	color: white;
	font-size: 30pt;
	text-align: center;
	background-color: #64c6e4;
	border-radius: 30px 10px;
}

#information {
	text-align: center;
	color: white;
}

#sites {
	 margin: 0;
     padding: 0;
	 list-style-type: none;
	 border: 2px solid white;
	 border-radius: 20px 5px;
	 
	 text-align: center;
	 background-color: #191919;
	 width: 800px;
}

#sites a {
	color: white;
	text-decoration: none;
	border: 2px solid white;
	font-size: 30pt;
	
}
#sites li {
	margin: 10px;
}

#sites a:hover {
	color: white;
	text-decoration: none;
	border: 2px solid white;
	background-color: #64c6e4;
	font-size: 30pt;
}
